  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="查询服务目录...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="/home/index/">
                    <i class="fa fa-dashboard"></i> <span>服务目录</span> 
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>服务审批</span><span class="label label-success pull-right">12</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/home/ApproveList"><i class="fa fa-circle-o"></i> 我的待办</a></li>
                    <li><a href="/home/ApproveList"><i class="fa fa-circle-o"></i> 我的在办</a></li>
                    <li><a href="/home/ApproveList"><i class="fa fa-circle-o"></i> 我的已办</a></li>
                </ul>
            </li>
            <li>
                <a href="/home/Notice">
                    <i class="fa fa-bullhorn"></i> <span>我的通知</span> 
                </a>
            </li>
            <li class="treeview">
                <a href="/home/chart/">
                    <i class="fa fa-pie-chart"></i>
                    <span>流程分析</span>
                </a>
               
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-search"></i>
                    <span>服务查询</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> 已办结</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> 未办结</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> 一期服务目录</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gear"></i> <span>系统设置</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> 权限设置</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> 服务目录设置</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> 人员设置</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>常用链接</span>
                </a>
               
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
