
@{
    ViewBag.Title = "ApproveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--内容页标题开始-->
<section class="content-header">
    <h1>
        我的待办
        <small>审批您的服务</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">审批您的服务</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>申请人</th>
                                <th>申请类型</th>
                                <th>申请单号</th>
                                <th>上级审批人</th>
                                <th>申请日期</th>
                                <th>上级处理日期</th>
                                <th>完成百分比</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-danger">超时</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">30%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-warning">即将到期</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    王自健
                                </td>
                                <td>网络施工与布线</td>
                                <td><a href="/home/ApproveForm/">CPS200001</a></td>
                                <td>张三</td>
                                <td>2015/10/21</td>
                                <td>2015/10/22</td>
                                <td>
                                    <span class="badge bg-green">90%</span>
                                </td>
                                <td><span class="label label-success">正常</span></td>
                            </tr>
                        </tbody>

                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer no-border">
                    <nav class="pull-right">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="上一页"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">6 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">7 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#" aria-label="下一页"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- /.box -->

        </div><!-- /.col -->
    </div>
</section>

